<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
# Your code here
import pandas as pd
import requests
from bs4 import BeautifulSoup

Download the webpage at the url

In [3]:
#your code goes here
import requests 

data= requests.get("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"
)

Create a soup object

In [4]:
#your code goes here
tables = BeautifulSoup (data.text, 'html.parser')

Scrape the `Language name` and `annual average salary`.

In [17]:
proglang_data = pd.DataFrame(columns=["Language","Average Annual Salary"])

for row in tables.tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        language = col[0].text
        average_annual_salary = col[2].text.strip()
        proglang_data = proglang_data.append({"Language":language, "Average Annual Salary":average_annual_salary}, ignore_index=True)

proglang_data

   Language                      Average Annual Salary
0       No.                                 Created By
1         1                           Guido van Rossum
2         2                              James Gosling
3         3               Robert Gentleman, Ross Ihaka
4         4                                   Netscape
5         5                                      Apple
6         6                          Bjarne Stroustrup
7         7                                  Microsoft
8         8                             Rasmus Lerdorf
9         9    Donald D. Chamberlin, Raymond F. Boyce.
10       10  Robert Griesemer, Ken Thompson, Rob Pike.

Save the scrapped data into a file named *popular-languages.csv*

In [ ]:
# your code goes here
df.to_csv('rlabs/module 1/Web Scraping/Web-Scraping-Lab.ipynb

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).